.BasemapPanel {
  &_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      background-color: $white;
      border: solid rgba(0, 112, 205, 0.7) 0.5px;
      color: $dark-blue;
      cursor: pointer;
      font-family: $basemap-font;
      transition: all 0.2s ease-in-out;
      -moz-appearance: none;
      text-align: center;

      &:hover,
      &_selected {
        color: $white;
        background-color: $dark-blue;
      }
    }
  }
}
