.BasemapPanel {
  right: 10px;
  top: 120px;

  &_list {
    display: contents;
    list-style: none;

    &__item {
      background-color: white;
      border-radius: 8px;
      border: solid rgba(0, 112, 205, 0.7) 0.5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      color: rgba(0, 112, 205, 1);
      cursor: pointer;
      font-family: $basemap-font;
      font-size: $layer-font-size;
      transition: all 0.3s ease-in-out;
      -moz-appearance: none;

      &:hover,
      &_selected {
        color: white;
        background-color: rgba(0, 112, 205, 1.0);
      }
    }
  }
}