.BasemapPanel {
  position: absolute;
  right: 10px;
  top: 120px;

  &_list {
    display: contents;
    list-style: none;
    text-align: center;

    &__item {
      background-color: white;
      border-radius: 8px;
      border: solid rgba(0, 112, 205, 0.7) 0.5px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      color: rgba(0, 112, 205, 1);
      cursor: pointer;
      font-size: 0.75rem;
      margin: 5px 0;
      padding: 5px 5px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      -moz-appearance: none;

      &:hover,
      &_selected {
        color: white;
        background-color: rgba(0, 112, 205, 1.0);
      }
    }
  }
}