$dark-blue: #2774bd;
$dark-medium-blue: #3b83c7;
$medium-blue: #92c6df;
$light-blue: #daf1fa;
$lighter-blue: #ebf9ff;

$dark-green: #214a2d;
$medium-green: #4dab48;
$light-green: #b8dca7;

$dark-orange: #983620;
$medium-orange: #f47b20;
$light-orange: #fcc6a0;

$dark-purple: #913368;
$medium-purple: #a97297;
$light-purple: #e7bbd7;

$dark-grey: #505150;
$medium-grey: #cad3d3;
$light-grey: #f7f7f6;

$white: #ffffff;
$black: #000000;
