.ControlPanel {
  background-color: $light-blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 2px;
  font-size: $body-font-size;
  height: 100vh;
  left: 0;
  top: 60px;

  @media only screen and (max-height: 920px) and (min-width: 1000px) {
    width: 275px;
  }

  width: 260px;

  &_opacity {
    background-color: $light-blue;
    height: 3rem;
    margin-top: -3rem;
    opacity: 0.8;
    width: 245px;
    z-index: 500;
  }

  &__title {
    font-family: $title-font;
    font-size: $title-font-size;
  }

  &__glossary {
    color: $dark-blue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__subtitle {
    font-family: $subtitle-font;
    font-size: $subtitle-font-size;
  }

  &_type_button {
    background-color: $white;
    border-radius: 8px;
    border: solid 2px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 2px;
    color: black;
    cursor: pointer;
    font-family: $layer-font;
    font-size: $layer-font-size;
    transition: all 0.3s ease-in-out;
    width: 110px;
    -moz-appearance: none;

    &:hover {
      color: $white;
    }

    &__paved {
      border-color: $medium-blue;

      &:hover,
      &__selected {
        background-color: $medium-blue;
      }
    }

    &__pavedPaths {
      color: $dark-green;

      &:hover,
      &__selected {
        background-color: $dark-green;
        border-color: $dark-green;
        color: $white;
      }
    }

    &__unimprovedPaths {
      color: $medium-green;

      &:hover,
      &__selected {
        background-color: $medium-green;
        border-color: $medium-green;
        color: $white;
      }
    }

    &__protectedBikeLane {
      color: $dark-blue;

      &:hover,
      &__selected {
        background-color: $dark-blue;
        border-color: $dark-blue;
        color: $white;
      }
    }

    &__bikeLane {
      color: $medium-blue;

      &:hover,
      &__selected {
        background-color: $medium-blue;
        border-color: $medium-blue;
        color: $white;
      }
    }

    &__naturalSurfaceFootway {
      color: $medium-purple;

      &:hover,
      &__selected {
        background-color: $medium-purple;
        border-color: $medium-purple;
        color: $white;
      }
    }

    &__pavedFootway {
      color: $dark-purple;

      &:hover,
      &__selected {
        background-color: $dark-purple;
        border-color: $dark-purple;
        color: $white;
      }
    }

    &__pavedPathsProposed {
      color: $dark-green;
      border-style: dashed;

      &:hover,
      &__selected {
        background-color: $dark-green;
        border-style: dashed;
        border-color: $white;
        color: $white;
      }
    }

    &__unimprovedPathsProposed {
      color: $medium-green;
      border-style: dashed;

      &:hover,
      &__selected {
        background-color: $medium-green;
        border-style: dashed;
        border-color: $white;
        color: $white;
      }
    }

    &__protectedBikeLaneProposed {
      color: $dark-blue;
      border-style: dashed;

      &:hover,
      &__selected {
        background-color: $dark-blue;
        border-style: dashed;
        border-color: $white;
        color: $white;
      }
    }

    &__bikeLaneProposed {
      color: $medium-blue;
      border-style: dashed;

      &:hover,
      &__selected {
        background-color: $medium-blue;
        border-style: dashed;
        border-color: $white;
        color: $white;
      }
    }

    &__pavedFootwayProposed {
      color: $dark-purple;
      border-style: dashed;

      &:hover,
      &__selected {
        background-color: $dark-purple;
        border-style: dashed;
        border-color: $white;
        color: $white;
      }
    }

    &__naturalSurfaceFootwayProposed {
      color: $medium-purple;
      border-style: dashed;
      margin-bottom: 3rem;

      &:hover,
      &__selected {
        background-color: $medium-purple;
        border-style: dashed;
        border-color: $white;
        color: $white;
      }
    }
  }

  &_checkbox {
    // Override

    .form-check-input {
      display: inline-flex;
      height: 1.25rem;
      width: 1.25rem;
    }

    .form-check-label {
      display: inline-flex;
      margin-left: 0.5rem;
    }
  }
}
