.Header {
  background-color: transparentize($dark-medium-blue, 0.15);
  height: 60px;
  width: 100%;
  z-index: 1;

  &__image {
    margin: 0 10px 0 15px;
    height: 50px;
  }

  &__title {
    @media only screen and (max-width: 790px) {
      font-size: 1.25rem;
    }

    @media only screen and (max-width: 680px) {
      font-size: 1.625rem;
    }

    &--main {
      font-family: $header-title-font;
      font-size: $title-font-size;
    }

    &--subtitle {
      font-family: $header-subititle-font;
      font-size: $subtitle-font-size;
    }

    &--mobile-remove {
      @media only screen and (max-width: 680px) {
        display: none;
        padding: 0 20px 0 0;
      }
    }

    color: $white;
    margin: unset;
  }

  &__about {
    right: 10px;
    top: 15px;

    img {
      height: 25px;
      width: 25px;

      svg {
        fill-opacity: 0;
      }
    }
  }

  &__contribute {
    right: 50px;
    top: 15px;

    img {
      height: 45px;
      width: 45px;

      svg {
        fill-opacity: 0;
      }
    }
  }

  &__assist {
    right: 90px;
    top: 15px;

    img {
      height: 25px;
      width: 25px;

      svg {
        fill-opacity: 0;
      }
    }
  }

  &__about,
  &__contribute,
  &__assist {
    background-color: transparentize($dark-blue, 0.7);
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 2px;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    outline: none;
    width: 30px;

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 2px;
    }
  }
}
