.Map {
  height: 100%;
  width: 100%;

  &_filter {
    left: 280px;
    top: 70px;

    img {
      height: 36px;
      width: 36px;
    }
  }

  &_share {
    left: 325px;
    top: 70px;

    img {
      height: 20px;
      width: 20px;
    }
  }

  &_basemap {
    right: 10px;
    top: 70px;

    img {
      height: 30px;
      width: 30px;
    }
  }

  &_basemap,
  &_filter,
  &_share {
    background-color: $white;
    border-radius: 4px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 2px;
    box-sizing: border-box;
    cursor: pointer;
    height: 36px;
    outline: none;
    width: 36px;

    &:hover {
      background-color: $light-grey;
    }

    &__selected {
      background-color: transparentize($dark-blue, 0.7);
    }
  }
}

// Overrides

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin-top: 70px;
  width: 240px;
}

.mapboxgl-ctrl-top-left {
  z-index: 600;
}