.Modal {
  &__title {
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: transparentize($dark-blue, 0.7);
    font-family: $title-font;
    font-size: $title-font-size;
  }

  &__subtitle {
    font-family: $subtitle-font;
    font-size: $subtitle-font-size;
  }

  &__body {
    font-family: $body-font;
    font-size: $body-font-size;
  }

  &__list {
    font-family: $body-font;
    font-size: $list-font-size;
    list-style-type: none;

    span {
      font-family: $body-bold-font;
    }
  }

  &__footer {
    color: $dark-grey;
    font-family: $footer-font;
    font-size: $footer-font-size;
  }

  &__disclaimer {
    color: $dark-grey;
    font-family: $disclaimer-font;
    font-size: $disclaimer-font-size;
  }

  .share-button {
    height: 40px;
    width: 40px;

    img {
      height: 35px;
      width: 40px;
    }
  }
}

// Overrides

.modal-dialog {
  width: 300px;

  @media only screen and (max-width: 325px) {
    width: 275px;
  }

  @media only screen and (min-width: 1600px) and (max-width: 2000px) {
    width: 350px;
  }

  @media only screen and (min-width: 2000px) {
    width: 425px;
  }
}
