.Popup {
  font-family: $layer-font;
  color: $dark-blue;
  // width: 240px;
  // height: 150px;

  // override
  .mapboxgl-popup-content {
    padding: 14px 23px 18px 23px;
  }

  span {
    display: block;
    line-height: $identify-font-line-height;
  }

  &__name {
    font-family: $identify-name-font;
    font-size: $identify-name-font-size;
  }

  &__layer {
    font-family: $identify-layer-font;
    font-size: $identify-layer-font-size;
  }

  &__info {
    font-family: $identify-info-font;
    font-size: $identify-info-font-size;
  }

  &__section {
    padding-top: 0.2rem;
  }
}

.carousel-indicators {
  bottom: -36px;
  button {
    width: 15px !important;
  }
}

.carousel-control-next {
  position: absolute;
  right: -25px;
  .carousel-control-next-icon {
    background-size: 60% 60%;
  }
}
.carousel-control-prev {
  position: absolute;
  left: -25px;
  .carousel-control-prev-icon {
    background-size: 60% 60%;
  }
}
